@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Fira Sans', sans-serif;
}
.topMenu{
    display: flex;
    font-size: 11px;
    justify-content: space-between;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
    text-transform: uppercase;
    margin: 125px 375px 10px 375px;
}
.middleSection{
    background-color:#7e0019;
    height: 87px;
    display: flex;
    text-transform: uppercase;
    color: white;
    align-items: center;
    justify-content: space-between;
    font-family: 'Fira Sans', sans-serif;
}
li{
    list-style: none;
}
.strips{
    font-size: 15px;
    border-top: 3px solid white;
    box-sizing: border-box;
    width: 25px;
    height: 5px;
    margin-top: 1px;
    margin-right: 15px;
}
.menu {
    font-size: 11px;
    font-weight: 800;
}
.leftText{
    display: flex;
    margin-left: 50px;
    align-items: center;
}
.middleText {
    text-align: center;
}
.middleText1 {
    color: white;
    font-size: 32px;

}
.middleText2 {
    text-transform: uppercase;
    color: white;
    font-size: 11px;
}
.rightText{
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    font-weight: 800;

}
.lang {
    margin-right: 15px;
    color: rgba(253, 0, 0, 0.582);
}
.club {
    width: 60px;
    border: 4px solid white;
    border-radius: 20%;
    padding: 10px;
    text-align: center;
    background-color: rgb(179, 0, 0);
}
.lang1 {
    padding: 14px;
}
.bottomMenu{
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
    text-transform: uppercase;
    margin: 10px 240px 10px 240px;
}
